/* Code CSS */

body {
  font-family: Verdana, sans-serif;
}


h1 {
  position: relative;
}

.title {
  position: relative;
}

.img {
  position: absolute;
  top: 1%;
  right: 1%;
}

.map {
  position: relative;
}

.velibAvailable {
  position: absolute;
  top: 10%;
  right: 5%;
}

.docksAvailable {
  position: absolute;
  top: 150%;
  right: 5%;
}

.firstVisu {
    float: left;
    clear: none; 
}